*{
 font-family: 'metamorphous';


}
a{


}
#header{
    width:100%;
    height:20%;
    background-color : #265b6a;
    padding:0;
    border:0;
    margin:0;
    position:relative;
    overflow: hidden;


}

h1{
    letter-spacing:10px;
    font-size: 4em;
    color: black;
    text-align:center;
    position:relative;
    top:30;
    }



#nav{
    width:100%;
    height:10%;
    padding: 0;
    border: 0;
    background-color: #63939f;
      overflow-x:hidden;
    margin:0;
    position:relative;
    z-index:1;
    }
#nav li a {
    display:inline-block;
    margin:0px 25px;
    list-style: none;
    color:black;
    font-size: 1.4em;
    float:right;
    }

 a:visited{
        color: black;
        list-style:none;
        float:right;}

#meat{
overflow: hidden;

}

#left{
    background-color:#022a35;
    width:15%;
    float:left;
    margin-bottom: 0;
    height:1000px;
    border:0;
    opacity: .9;
    overflow: hidden;




        }
#button, #button1, #button2 {
  background-color:#63939f;
  border:none;
  color: black;
  margin:10px 0;
  width: 10em;
  padding:1em;
  border-radius: 5px;
}

#p1{max-width:30%; margin:15% 0 0 20%; float:left;position: absolute; display: none;

        }

#p2 {max-width:40%; margin:15% 0 0 15%; float:left;position: absolute; display: none;

        }
        #p3 {max-width:30%; margin:15% 0 0 20%; float:left;position: absolute; display: none;}
        #p4 {max-width:30%; margin:15% 0 0 20%; float:left;position: absolute; display: none;}
        #p5 {max-width:40%; margin:15% 0 0 15%; float:left;position: absolute; display: none;}

li      {
            list-style:none;}

#middle{
    width:70%;
    padding: 0;
    border: 0;
    font-size:1em;
    min-height:1000px;
    background-color:#447684;
    display:inline-block; }

  #introduction{
  display:none;
    text-align:center;
    max-width:80%;
    margin:5% 30% 0 15%;
    float:left;
    position:absolute;
    z-index:1;
    line-height: 3em;
    font-size: 1em;
    border-radius:10px;

            }
    #pic1{max-width:70%;
    margin: 15%;
    float:left;
        }
 #pic2{max-width:70%;
        margin: 15%
        }
#pic3{max-width:70%;
        margin: 15%}
 #pic4{max-width:70%;
        margin: 15%}
.caption{
           text-align:center;
           text-wrap:none;
            }





#right{
padding: 0;
border: 0;
float:right;
font-size:14px;
height: 1000px;
width:15%;
background-color:#022a35;
opacity: .9;
position:relative;
z-index: 1;
}


#butleft {
width: 40px;
height: 40px;
background-color:#63939f;
border: none;
font-size: 1em;
border-radius: 200px;
font-color: black;
margin: 350px 0 0 100px;
}

#butright{
width: 40px;
height: 40px;
background-color:#63939f;
border: none;
font-size: 1em;
border-radius: 200px;
font-color: black;
margin: 350px 100px 0 0;
position: relative;
float: right;

}




/*width: 0;
    height: 0;
    border-top: 40px solid #022a35;
    border-bottom: 40px solid #022a35 ;
    border-left: 30px solid #63939f;
    opacity: .6;
    border-radius: 5%;