/*z-index: -10;
opacity: .8
position: relative;*/
/*display: inline-block;*/
/*font-family:
'Orbitron';
opacity: .8;
background: transparent;
width: 10%;
}*/

.input{
 position: absolute;
 width: 8%;
font-family:
'Orbitron';
opacity: .8;
background: transparent;
width: 10%;
}
/*
#fractal{
  width:100%;
  height: 100%;
  float: right;

}*/
#click {
font-family:
'Orbitron';
font-size: 30;
color: white;
border-radius: 80px;
background: transparent;
border:none;
height: 5%;

}

#canvas{
height: 100%;
width: 100%;
z-index: 1;
display: inline;
}

label{
color:white;

}
body{
  background-color: black
}

