@import url("http://weloveiconfonts.com/api/?family=entypo");
@import url("http://weloveiconfonts.com/api/?family=brandico");
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  background: #ddd;
}

.wrapper {
  text-align: center;
}

[class*="brandico-"]:before {
  font-family: 'brandico', sans-serif;
}



.social, .entypo-mail, .brandico-github {
  display: inline-block;
  width: 80px;
  height: 50px;
  margin: 15px 30px;
  font-family: Entypo;
  font-size: 28px;
  text-align: center;
  color: #555;
  border-radius: 500px;
  background: #eee;
  cursor: pointer;
}

.social, .entypo-mail, .brandico-github {
  box-shadow: #d2d2d2 1px 1px, #d2d2d2 2px 2px, lightgray 3px 3px, lightgray 4px 4px, lightgray 5px 5px, #d4d4d4 6px 6px;
  text-shadow: #e2e2e2 1px 1px, #e3e3e3 2px 2px, #e3e3e3 3px 3px, #e4e4e4 4px 4px, #e5e5e5 5px 5px;
}
